
<div class="bg-indigo-50 h-screen w-screen pt-10">
  <div class="max-w-xs mx-auto align-middle">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4'}) do |f| %>
    <h2 class="text-center text-indigo-500 font-bold">Glemt passord?</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email, "Email", class: "block text-sm font-bold mb-2 text-gray-700"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:  "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:ring-1 focus:ring-indigo-300" %>
    </div>

    <div>
      <%= f.submit "Send", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 mr-6 rounded focus:outline-none focus:shadow-outline cursor-pointer" %>
    </div>
  <% end %>
  </div>
</div>



