<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 ">
      <div data-controller="toggleme" class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div  class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
          <a class="mr-4 py-2"
            href="<%= root_path %>"><%= image_tag 'yrkesbasen_logo_small_white.png'%></a>
            <button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            data-action="click->toggleme#toggle">
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div class="relative lg:flex lg:flex-grow w-60 rounded-md items-center bg-white lg:bg-transparent lg:shadow-none hidden" data-toggleme-target="togglemebaby">
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="items-center" data-controller="toggleme">
              <a
                class="cursor-pointer lg:text-white lg:hover:text-gray-300 text-black-800 px-3 py-4 lg:py-2 flex items-center text-base uppercase font-bold"
                data-action="click->toggleme#toggle"
              >Fag
              </a>
                <div data-toggleme-target="togglemebaby" class="absolute hidden mt-2 bg-white shadow-lg w-60 origin-top-left rounded-md ring-1 ring-black ring-opacity-5">
                  <div class="py-3" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <% fag.each do |f| %>
                    <a href="/fag/<%= f[1] %>" class="block px-3 py-1 text-base text-black-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem"><%= f[0].capitalize %></a>
                    <% end %>
                  </div>
                </div>
            </li>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-black-800 px-3 py-4 lg:py-2 flex items-center text-base uppercase font-bold"
                href="#">Kontakt
              </a>
            </li>
            <% if !user_signed_in? %>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-black-800 px-3 py-4 lg:py-2 flex items-center text-base uppercase font-bold"
                href="<%= new_user_session_path %>">Logg inn
              </a>
            </li>
            <% else %>
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-black-800 px-3 py-4 lg:py-2 flex items-center text-base uppercase font-bold"
                href="/avo">admin
              </a>
            </li>
            <li class="flex items-center">
              <%= link_to "Logg ut", destroy_user_session_path, method: :delete, class: "lg:text-white lg:hover:text-gray-300 text-black-800 px-3 py-4 lg:py-2 flex items-center text-base uppercase font-bold" %>
            </li>

            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center"
    style="min-height: 75vh;">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("https://res.cloudinary.com/stianrules/image/upload/v1618362556/yrkesbanken_hero2_cdsyc9.png");'>
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black">
      </span>
    </div>
    <div class="container relative mx-auto">
      </div>
    </div>
  </div>
    <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>
